* {
	box-sizing: border-box;
}

html {
	background-color: #111;
}

body {
	max-width: 960px;
	margin: 50px auto;
	color: #eee;
	font: 12pt 'Roboto Slab', serif;
}

a {
	color: #3ae;
	text-decoration: none;
}

header {
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > div > a {
	display: block;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}
h2 {
	margin-top: 1em;
}
h3 {
	display: inline;
}

section {
	margin: 1em 0;
}
section > article {
	margin: 1.5em 0 1em;
}
section > article .date {
	font-family: 'Noto Sans', sans-serif;
	color: #aaa;
}
section > article > ul {
	margin: 0;
}
section .pos_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
}
section .pos_header > .company_title {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

@media print {
	html {
		background-color: initial;
	}
	body {
		margin: 0;
		background-color: initial;
		box-shadow: none;
		color: #000;
		font-size: 16px;
	}
	a {
		color: #07a;
	}
	section > article .date {
		color: #555;
	}
}
